# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=<elastic_root_password>

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=<kibana_password>

# Version of Elastic products
STACK_VERSION=8.11.1

# Set the cluster name
CLUSTER_NAME=<name>

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic
#LICENSE=trial

NODE_NAME=<node_name>
# Port to expose Elasticsearch HTTP API to the host
#ES_PORT=127.0.0.1:9200
ES_PORT=9213

KIBANA_NAME=<node_name>
# Port to expose Kibana to the host
KIBANA_PORT=5613

# Increase or decrease based on the available host memory (in bytes)
MEM_LIMIT=2147483648
#MEM_LIMIT=4294967296

# Project namespace (defaults to the current folder name if not set)
COMPOSE_PROJECT_NAME=<project_name>

# certs folder
CERTS_FOLDER="./data/certs"
ELASTICSEARCH_LOG="./data/logs"
ELASTICSEARCH_CONFIG="./data/extra_config"

# elastichsearch data folders base_path
ELASTICSEARCH_DATA="./data/elasticsearch"
# kibana data folders base_path
KIBANA_DATA="./data/kibana"

# optional values for nginx conf
#NGINX_NAME=<container_name>
#NGINX_PORT=80
#NGINX_PORT_SSL=80

#NGINX_CONFIG=./nginx/conf.d
#NGINX_LOG=./nginx/logs